<br/>
<br/>
<div class="centre">
    <h3>Add Music</h3>
    <form class="form" action="/api/music" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input id="file" type="file" class="form-control" name="audio" accept="audio/*" required>
        </div>
        <button type="submit" id="submit" class="btn btn-default form-control">Add</button>
    </form>
    <br>

    <div class="library"></div>
</div>
